{% extends 'base.html.twig' %}

{% block title %}
    Modifier l'utilisateur
{% endblock %}

{% block body %}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <h1>{{ user.name }} {{ user.surname }}</h1>
            </div>
        </header>
        <div id="content">
            {{ form_start(form) }}

            <div>{{ form_row(form.name) }}</div>
            <div>{{ form_row(form.surname) }}</div>
            <div>{{ form_row(form.email) }}</div>
            <div class="form-flex">
                <div>{{ form_row(form.entry_date) }}</div>
                <div>{{ form_row(form.contract) }}</div>
            </div>
            <div>{{ form_row(form.save) }}</div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}


